@tailwind base;
@tailwind components;
@tailwind utilities;


/* *{
    border: 1px solid red;
} */


@keyframes shine {
    0% {
        left: -75%;
    }

    100% {
        left: 125%;
    }
}

.animate-shine {
    animation: shine 3s infinite;
}

h1, h2, h3, h4{
    font-family: 'Changa';
}

p{
    font-family: 'Noto Kufi Arabic';
}



